<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
  <h3>Flicker 'n shit</h3>
  <% if current_user %>
    <h3 class ="log_in_header">Welcome, <a href="/profile"><%=current_user.name%> </a> </h3>
    <a href='/logout'>Click here to logout</a>
    <div class='header_buttons' id="album_submit">Click here to create an album</div>
    <% else %>
    <a href='/login'>Click here to log in!</a>
    <a href='/signup'>Click here to sign up!</a>
    <% end %>
    <div class="header_buttons" id="picture_submit">Upload a picture!</div>
  </header>
  <%= yield %>
</body>
</html>
