<div class="container">

  <div class="errors">
    <%if @errors%>
    <p><%=@errors%></p>
    <%end%>
  </div>

  <form method="post" action="/login">
    <input type="text" placeholder="username" name="user[name]">
    <input type="password" placeholder="password" name="user[password]">
    <input type="submit" value="log in">
  </form>
</div>
