<div class="container">
<form method="post" action='/newalbum' >
   <input type="text" placeholder="Album Title" name="album[name]">
   <input type="text" placeholder="Album Title" name="album[description]">
   <input type="submit" value="Submit!">
</form>

</div>