<div class="container">
<h2>File Uploader</h2>
<form method='post' enctype='multipart/form-data'>
  <select name='album'>
  <% @albums.each do |album| %>
  <option value='<%=album.id%>'><%=album.name%></option>
  <% end %>
</select>
  <input type='file' name='myfile'>
  <br>
  <input type="text" name='description' placeholder='description'>
  <input type='submit' value='Upload!'>
</form>
</div>
